<template>
  <div class="about">
    <h1 class="center-txt"> ADMIN</h1>
     <button class="btn btn-danger log" @click="handleLogout()">Log out </button>
  </div>
</template>
<script>
import { setIdToken, setAccessToken, logout } from '@/services/auth';

export default {
  name: "admin",
  methods: {
    handleLogout(){
      logout();
      console.log("log out")
    },
  },
  mounted() {
    this.$nextTick(() => {
      setAccessToken();
      setIdToken();
      window.location.href = '/';
    });
  }
}
</script>

