<template>
  <div class="staff-frm wrapper">
    <h1>The detail information of a staff</h1>
    <form-wrapper :validator="$v.form" :messages="localMessages" >
      <form @submit.prevent="submit" novalidate>
        <form-group name="img" label="Your avatar">
          <div class="dropbox">
            <p v-html="errorText || 'Drag your file(s) here to begin or<br>click to browse'"></p>
            <div v-if="previewImg.length > 0" class="image-preview-01">
              <img class="fluid-img" :src="previewImg">
            </div>
            <input type="file" class="file-input-style01" ref="staffImag" @change="handleFileUpload()" id="staffImag" accept="image/*"/>
          </div>
        </form-group>

        <form-group name="name" label="Your name"><input type="text" v-model="form.name" placeholder=""></form-group>

        <form-group name="email" label="Your email"><input type="email" v-model="form.email" placeholder=""></form-group>

        <form-group name="startDate" label="Your start date of work">
          <input type="text" v-model="form.startDate" ref="startDate" placeholder="">
          <i class="fas fa-calendar-alt frm-icon"></i>
        </form-group>

        <form-group name="password" label="Your password">
          <base-password v-model="form.pass" @blur="$v.form.pass.$touch()"></base-password>
        </form-group>

        <form-group name="confirmPass" label="Confirm password">
          <base-password v-model="form.confirmPass" @blur="$v.form.confirmPass.$touch()"></base-password>
        </form-group>

        <form-group name="phone" label="Your phone"><input type="text" v-model="form.phone" placeholder=""></form-group>

        <form-group name="branch" label="Your branch">
          <base-select v-model="form.branch" :data="branchs" name="staff-branch" defaultOption="Choose your branch"></base-select>
        </form-group>

        <form-group name="department" label="Your department">
          <base-select v-model="form.department" :data="departments" name="staff-department" defaultOption="Choose your department"></base-select>
        </form-group>
        
        <form-group name="position" label="Your position">
          <base-select v-model="form.position" :data="positions" name="staff-position" defaultOption="Choose your position" :selected="form.position"></base-select>
        </form-group>
        
        <button type="submit" class="btn btn-default" :disabled="$v.form.$anyError"> Submit </button>
      </form>
    </form-wrapper>
  </div>
</template>
<script>

import {required, minLength, email, sameAs} from 'vuelidate/lib/validators';
import {templates} from 'vuelidate-error-extractor';
import Pikaday from 'pikaday/pikaday'
import Moment from 'moment'
import { mapState, mapActions } from 'vuex'

/* Tutorial
 * Vuelidate: https://markus.oberlehner.net/blog/vue-form-validation-with-vuelidate/ 
 * Vue.nextTick(): https://vuejsdevelopers.com/2019/01/22/vue-what-is-next-tick/
 */
export default {
  name: "NewStaffForm",
  metaInfo: {
    title: 'Create new staff page',
  },
  data() {
    return {
      errorText: '',
      previewImg: '',
      form: {
        img: "",
        id: "", 
        name: "", 
        phone: "", 
        branch: "",
        department: "",
        position: "Nhân viên",
        status: true,
        email: "",
        pass: "",
        confirmPass: "",
        startDate: ""
      }, 
      localMessages: {
        required: '{attribute} is required, you should check it again',
        required_phone: 'The {attribute} field is required',
        sameAsPassword: 'You have to fill same password'
      }
    }
  },
  components: {
    FormWrapper: templates.FormWrapper,
    // baseErrors: templates.multiErrorExtractor.baseMultiErrorExtractor
  },
  validations: {
    form: {
      name: { required },
      branch: { required },
      department: { required },
      phone: { required_phone: required, minLength: minLength(8) },
      email: { required, email },
      pass: { required },
      confirmPass: { sameAsPassword: sameAs('pass') }
    }
  },
  computed: {
    ...mapState(['branchs', 'departments', 'positions'])
  },
  mounted() {
    this.reset();
    this.form.startDate = Moment().format("DD/MM/YYYY"); // Get the current date: 2018-11-07 00:03:53 
    this.attachDatepicker('startDate')
  },
  methods: {
    ...mapActions('event', ['createEvent']),
    handleFileUpload(){
      let maxSize = 1024 * 360
      let imgVal = this.$refs.staffImag.files[0] 
      if (!imgVal) return;
      if (imgVal.size / maxSize > 1){
        this.errorText = 'Your file is too big! Please select an image under 360KB.'
        return;
      }
      this.form.img = imgVal.name;
      // create a new FileReader to read this image and convert to base64 format
      var reader = new FileReader();
      // Define a callback function to run, when FileReader finishes its job
      reader.onload = (e) => {
          // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
          // Read image as base64 and set to imageData
          this.previewImg = e.target.result;
      }
      // Start the reader job - read file as a data url (base64 format)
      reader.readAsDataURL(imgVal);
    },
    reset(){
      // reset form to initial state
      this.$v.$reset()
    },
    submit() {
      this.$v.form.$touch()
      // to perform some action when a component & all its children are mounted and available in the DOM
      this.$nextTick(() => console.log('nextstick'))
      // if its still pending or an error is returned do not submit
      if (this.$v.form.$pending || this.$v.form.$error) return;
      this.createEvent(this.form).then(() => {
          this.$router.push({
            name: "staffs-all",
          });
        })
    },
    // requires Moment.js for custom formatting
    attachDatepicker: function(refName) {
      var picker = new Pikaday({
        field: this.$refs[refName],
        format: 'DD/MM/YYYY'
      })
      this.$once('hook:beforeDestroy', function() {
        picker.destroy()
      })
    },
  },
  watch: {
  }
}
</script>



