<template>
  <div class="login-page wrapper staff-frm">
    <h1>LOGIN</h1>
    <div v-show="errors.length">
      <p>Displaying all errors</p>
      <ul v-for="(group, index) in errors.collect()" :key="index">
        <li v-for="(error, index) in group" :key="index">{{ error }}</li>
      </ul>
    </div>

    <form @submit.prevent="validateForm()" novalidate>
      <input type="text" placeholder="Your name" name="name"
        v-model="form.name" 
        v-validate="'required|alpha|min:3'"  
      >
      <p v-if="errors.has('name')" class="field-text is-danger">{{ errors.first('name') }}</p>

      <input type="email" placeholder="Your email" name="email"
        v-model="form.email" 
        v-validate="'required|email'"  
      >
      <p v-if="errors.has('email')" class="field-text is-danger">{{ errors.first('email') }}</p>

      <input name="password" type="password" placeholder="Password"
        v-model="form.pass"
        ref="password"
        v-validate="{required: true, min:6}"  
        :class="{'is-danger': errors.has('password')}"  
      >
      <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
      <p>Is dirty: {{fields.password && fields.password.dirty}}</p>
      
      <input name="password_confirmation" type="password" placeholder="Password, Again"
        v-validate="'required|confirmed:password'"  
        :class="{'is-danger': errors.has('password_confirmation')}"  
        data-vv-as="Mat khau"
      >

      <button @click="changeLocale" type="button" class="btn is-primary"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 20 20" class="icon icon-google-translate"><title>google translate</title><path d="M0 0h24v24H0z" fill="none"></path><path d="M20,5H10.88L10,2H4A2,2,0,0,0,2,4V17a2,2,0,0,0,2,2h7l1,3h8a2,2,0,0,0,2-2V7a2,2,0,0,0-2-2M7.17,14.59a4.09,4.09,0,0,1,0-8.18A3.88,3.88,0,0,1,9.91,7.5l.09,0L8.75,8.72l-.06-.05a2.17,2.17,0,0,0-1.52-.59,2.42,2.42,0,0,0,0,4.84,2,2,0,0,0,2.12-1.46H7.08V9.91H11V10a2.82,2.82,0,0,1,.05.59,3.78,3.78,0,0,1-3.92,4m6-1.71a9.25,9.25,0,0,0,1.19,1.7l-.54.53-.65-2.23m.77-.76H13l-.33-1h4a7.68,7.68,0,0,1-1.56,2.74A9.18,9.18,0,0,1,14,12.12M21,20a1,1,0,0,1-1,1H13l2-2-.81-2.77.92-.92L17.79,18l.71-.73-2.69-2.68a8.73,8.73,0,0,0,1.92-3.51H19V10H15.36V9h-1v1h-2L11.18,6H20a1,1,0,0,1,1,1Z"></path></svg>Change Locale To {{ nextLocale }}</button>
      <br/> 
      <button type="submit" class="btn btn-default" > Submit </button>
      <button class="btn is-danger" type="button" @click="reset">Clear</button>
    </form>
 
  </div>
</template>
<script>

/* https://baianat.github.io/vee-validate/
 * https://baianat.github.io/vee-validate/guide/flags.html#demo
 * VeeValidate only generates one message per field by default (To disable this behavior: fast-exit option or use the continues modifier)
*/
import { Validator, mapFields } from 'vee-validate';

// CUSTOM RULES
// The first param is called 'min', and the second is called 'max'.
const paramNames = ['min', 'max'];
Validator.extend('between_custom', {
    getMessage: field => 'The ' + field + ' is unvalid. This is a custom message',
    validate: (value, { min, max } = {}) => {
      return Number(min) <= value && Number(max) >= value;
    }
  }, {
    paramNames 
  });

export default {
  name: "login-form",
  validator: null,
  data() {
    return {
      locale: 'vn',
      age: '',
      form: {
        name: "",
        email: "",
        pass: "",
        confirmPass: ""
      },
      errorsFrm: null,
      login_mesg: {
        vn: {
          attributes: {
            email: 'Địa chỉ email của bạn',
            name: 'Ten user'
          },
          messages:{
            required: (field) => field + ' la bat buoc'
          },
          custom: {
            name: {
              max: 'The name field may not be greater than 10 characters'
            }
          }
        },
        jp: {
          attributes: {
            email: '電子メールアドレス'
          }
        }
      }
    }
  },
  created () {
  },
  mounted () {
    this.$validator.localize(this.login_mesg)
    this.$validator.localize(this.locale)
  },
  computed: {
    nextLocale() {
      return this.locale === 'vn' ? 'Japanese' : 'Vietnamese';
    },
    isFormDirty() {
      return Object.keys(this.fields).some(key => this.fields[key].dirty);
    },
    ...mapFields({emailFlag: 'email'})
  },
  methods: {
    clearErrors() {
      this.errors.clear();
    },
    reset() {
      this.$validator.reset()
      this.name = ''
      this.email = ''
      this.select = null
      this.checkbox = null
    },
    changeLocale() {
      this.locale = this.$validator.locale === 'vn' ? 'jp' : 'vn';
      this.$validator.localize(this.locale);
    },
    validateForm(scope) {
      this.$validator.validateAll(scope).then((result) => {
        if (result) {
          // eslint-disable-next-line
          console.log(result, 'Form submitted')
          return;
        }
        alert('Correct them errors!');
      })
    },
    
  },
   watch: {
    $route () {
      // make sure we revert to english if the user navigated away.
      this.$validator.localize('vn');
    }
  },
}
</script>
<style lang="scss">
.is-danger{
  border-color: red;
  color: red;
}
</style>
