<template>
  <div class="login-page wrapper staff-frm">
    <h1>LOGIN</h1>

    <form @submit.prevent="validateForm()" novalidate>
       <v-text-field
        v-model="form.name"
        :counter="10"
        label="Ten nhan vien"
        data-vv-name="name"
        v-validate="'required|max:10'"
        :error-messages="errors.collect('name')"
      ></v-text-field>

      <v-text-field
        v-model="form.email"
        label="Your email"
        data-vv-name="email"
        v-validate="{required: true, email: true}"
        :error-messages="errors.collect('email')"
      ></v-text-field>
      <p>
        <span class="" v-for="(value, flag) in emailFlag" :key="flag" >
          <span class="label" :class="{ 'is-danger': !value, 'is-success': value }">{{ flag + ": " + value }} | </span>
        </span>
      </p>

      <v-text-field
        ref="password"
        v-model="form.pass"
        :append-icon="isShowPass ? 'visibility' : 'visibility_off'"
        :type="isShowPass ? 'text' : 'password'"
        label="Your Password"
        data-vv-name="pass"
        v-validate="{required: true, min:6}"
        :error-messages="errors.collect('pass')"
        @click:append="isShowPass = !isShowPass"
      ></v-text-field>

      <v-text-field type="password"
        v-model="form.confirmPass"
        label="Your confirmation Password"
        data-vv-name="pass_confirmation"
        v-validate="{required: true, confirmed:'password'}"
        :error-messages="errors.collect('pass_confirmation')"
      ></v-text-field>

      <v-text-field
        v-model="age"
        label="Your age"
        hint="Between 10 and 40"
        data-vv-name="age"
        v-validate="'between_custom:10,40'"
        :error-messages="errors.collect('age')"
      ></v-text-field>

      <button @click="changeLocale" type="button" class="btn is-primary"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 20 20" class="icon icon-google-translate"><title>google translate</title><path d="M0 0h24v24H0z" fill="none"></path><path d="M20,5H10.88L10,2H4A2,2,0,0,0,2,4V17a2,2,0,0,0,2,2h7l1,3h8a2,2,0,0,0,2-2V7a2,2,0,0,0-2-2M7.17,14.59a4.09,4.09,0,0,1,0-8.18A3.88,3.88,0,0,1,9.91,7.5l.09,0L8.75,8.72l-.06-.05a2.17,2.17,0,0,0-1.52-.59,2.42,2.42,0,0,0,0,4.84,2,2,0,0,0,2.12-1.46H7.08V9.91H11V10a2.82,2.82,0,0,1,.05.59,3.78,3.78,0,0,1-3.92,4m6-1.71a9.25,9.25,0,0,0,1.19,1.7l-.54.53-.65-2.23m.77-.76H13l-.33-1h4a7.68,7.68,0,0,1-1.56,2.74A9.18,9.18,0,0,1,14,12.12M21,20a1,1,0,0,1-1,1H13l2-2-.81-2.77.92-.92L17.79,18l.71-.73-2.69-2.68a8.73,8.73,0,0,0,1.92-3.51H19V10H15.36V9h-1v1h-2L11.18,6H20a1,1,0,0,1,1,1Z"></path></svg>Change Locale To {{ nextLocale }}</button>
      <br/> 
      <button type="submit" class="btn btn-default" > Submit </button>
      <button class="btn is-danger" type="button" @click="reset">Clear</button>
    </form>
 
  </div>
</template>
<script>

/* https://baianat.github.io/vee-validate/
 * https://baianat.github.io/vee-validate/guide/flags.html#demo
 * VeeValidate only generates one message per field by default (To disable this behavior: fast-exit option or use the continues modifier)
*/
import { Validator, mapFields } from 'vee-validate';

// CUSTOM RULES
// The first param is called 'min', and the second is called 'max'.
const paramNames = ['min', 'max'];
Validator.extend('between_custom', {
    getMessage: field => 'The ' + field + ' is unvalid. This is a custom message',
    validate: (value, { min, max } = {}) => {
      return Number(min) <= value && Number(max) >= value;
    }
  }, {
    paramNames 
  });

export default {
  name: "Login-Form",
  metaInfo: {
    title: 'Login page',
  },
  data: () => {
    return {
      locale: 'vn',
      age: '',
      isShowPass: false,
      passType: 'password',
      form: {
        name: "",
        email: "",
        pass: "",
        confirmPass: ""
      },
      error: null,
      login_mesg: {
        vn: {
          attributes: {
            email: 'Địa chỉ email của bạn',
            name: 'Ten user'
          },
          messages:{
            required: (field) => field + ' la bat buoc'
          },
          custom: {
            name: {
              max: 'The name field may not be greater than 10 characters'
            }
          }
        },
        jp: {
          attributes: {
            email: '電子メールアドレス'
          }
        }
      }
    }
  },
  components: {},
  validations: {},
  // updated () {
  //   // Redirecting to app when logged in
  //   this.checkCurrentLogin()
  //   // if I go to /authors and get redirected to login, after logging in I will continue to /authors again
  //   if (!localStorage.token && this.$route.path !== '/') {
  //     this.$router.push('/?redirect=' + this.$route.path)
  //   }
  // },
  created () {
  //   this.checkCurrentLogin()
  },
  mounted () {
    this.$validator.localize(this.login_mesg)
    this.$validator.localize(this.locale)
  },
  computed: {
    nextLocale() {
      return this.locale === 'vn' ? 'Japanese' : 'Vietnamese';
    },
    isFormDirty() {
      return Object.keys(this.fields).some(key => this.fields[key].dirty);
    },
    ...mapFields({emailFlag: 'email'})
  },
  methods: {
    reset(scope) {
      this.$validator.reset(scope)
      this.name = ''
      this.email = ''
      this.select = null
      this.checkbox = null
    },
    changeLocale() {
      this.locale = this.$validator.locale === 'vn' ? 'jp' : 'vn';
      this.$validator.localize(this.locale);
    },
    validateForm(scope) {
      this.$validator.validateAll(scope).then((result) => {
        if (result) {
          // eslint-disable-next-line
          console.log(result, 'Form submitted')
          return;
        }
        alert('Correct them errors!');
      })
    },
    checkCurrentLogin () {
      if (localStorage.token) {
        this.$router.replace(this.$route.query.redirect || '/admin')
      }
    }
  },
   watch: {
    $route () {
      // make sure we revert to english if the user navigated away.
      this.$validator.localize('vn');
    }
  },
}
</script>
<style lang="scss">
.is-danger{
  border-color: red;
  color: red;
}
</style>
