<template>
  <div class="staff-frm wrapper">
    <h1>The detail info of staff #{{form.id}}</h1>
    <form-wrapper :validator="$v.form" :messages="localMessages" >
      <form @submit.prevent="submit" novalidate>
        <form-group name="img" label="Your avatar">
          <div class="custom-file">
            <div class="image-preview" v-if="previewImg.length > 0">
              <img class="fluid-img" :src="previewImg">
            </div>
            <input type="file" class="custom-file-input" ref="staffImag" @change="handleFileUpload()" id="staffImag" accept="image/*"/>
            <label for="staffImag" class="custom-file-label" data-browse="Browse">{{form.img ? form.img: 'No file chosen'}}</label>
          </div>
        </form-group>
        <form-group name="name" label="Your name"><input type="text" v-model="form.name" placeholder=""></form-group>
        <form-group name="phone" label="Your phone"><input type="text" v-model="form.phone" placeholder=""></form-group>
        <form-group name="branch">
          <select v-model="form.branch" name="staff-branch">
            <option value="" selected="true">Choose your branch</option>
            <option v-for="(item, index) in branchs" :key="index" :value="item">{{ item }}</option>
          </select>
        </form-group>
        <form-group name="department" label="Your department">
          <select v-model="form.department" name="staff-department">
            <option value="" selected="true">Choose your department</option>
            <option v-for="(item, index) in departments" :key="index" :value="item">{{ item }}</option>
          </select>
        </form-group>
        <form-group name="position" label="Your position">
          <select v-model="form.position" name="staff-position">
            <option value="">Choose your position</option>
            <option v-for="(item, index) in positions" :key="index" :value="item" :selected="item == form.position">{{ item }}</option>
          </select>
        </form-group>
        
        <button type="submit" class="btn btn-default" :disabled="$v.form.$error"> Save </button>
      </form>
    </form-wrapper>
   
  </div>
  
</template>
<script>

import {required, minLength} from 'vuelidate/lib/validators';
import {templates} from 'vuelidate-error-extractor';
import { mapState, mapActions } from 'vuex';

export default {
  name: "DetailStaff",
  props: {
    staff: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      previewImg: '',
      form: {
        img: "",
        id: "", 
        name: "", 
        phone: "", 
        branch: "",
        department: "",
        position: "Nhân viên",
      }, 
      localMessages: {
        required: '{attribute} is required, you should check it again',
        required_phone: 'The {attribute} field is required'
      }
    }
  },
  components: {
    FormWrapper: templates.FormWrapper,
    // baseErrors: templates.multiErrorExtractor.baseMultiErrorExtractor
  },
  validations: {
    form: {
      name: { required },
      branch: { required },
      department: { required },
      phone: { required_phone: required, minLength: minLength(8) }
    }
  },
  computed: {   
    ...mapState(['branchs', 'departments', 'positions'])
  },
  created(){
    this.form = this.staff
    this.previewImg = `/images/` + (this.form.img || 'default-img.svg')
  },
  mounted() {
    this.reset();
  },
  methods: {
    ...mapActions('event', ['updateEvent']),
    handleFileUpload(){
      let imgVal = this.$refs.staffImag.files[0] 
      if (!imgVal) return;
      this.form.img = imgVal.name;
      // create a new FileReader to read this image and convert to base64 format
      var reader = new FileReader();
      // Define a callback function to run, when FileReader finishes its job
      reader.onload = (e) => {
          // Note: arrow function used here, so that "this.imageData" refers to the imageData of Vue component
          // Read image as base64 and set to imageData
          this.previewImg = e.target.result;
      }
      // Start the reader job - read file as a data url (base64 format)
      reader.readAsDataURL(imgVal);
    },
    clearFiles() {
      this.$refs.staffImag.files[0].reset()
    },
    reset(){
      // reset form to initial state
      this.$v.$reset()
    },
    submit() {
      this.$v.form.$touch()
      if (this.$v.form.$pending || this.$v.form.$error) return;
      this.updateEvent(this.form)
    },
  },
  watch: {}
}
</script>



