<template>
  <div class="home wrapper">
    <div class="top-bar">
    </div>
    <router-link :to="{name: 'form'}" class="btn btn-default btn-create"><i class="fas fa-plus"></i>Tạo mới</router-link>

    <table class="result-table">
      <thead>
        <th>STT</th>
        <th>Ảnh</th>
        <th>Mã nhân viên</th>
        <th>Tên nhân viên</th>
        <th>Số điện thoại</th>
        <th>Chi nhánh</th>
        <th>Phòng ban</th>
        <th>Nhóm truy cập</th>
        <th>Trạng thái</th>
        <th></th>
      </thead>
         
      <template v-if="staffs.length" >
        <ListTransition class="has-animation" :tag="'tbody'">
          <StaffSingle v-for="(staff, index) in filtedStaffs" :key="staff.id" :index="index" :staff="staff" v-on:delete-staff="deleteById($event)">
            <template v-slot:staff-info="{staff}">
              <td>{{staff.status ? 'Đang làm việc' : 'Nghỉ việc'}}</td>
            </template>
          </StaffSingle>
        </ListTransition>
      </template>
      <template v-else>
        <tbody>
          <tr>
            <td colspan="9">No information is available</td>
          </tr>
        </tbody>
      </template>

    </table>

    <p>{{filtedStaffs.length}} / {{staffsTotal}} item(s) was founded</p>
    <template v-if="page != 1">
      <router-link :to="{ name: 'staffs', query: { page: page - 1 } }" rel="prev">Prev Page</router-link>
      <template v-if="hasNextPage"> | </template>
    </template>
    <router-link v-if="hasNextPage" :to="{ name: 'staffs', query: { page: page + 1 } }" rel="next">Next Page</router-link>
    <pre>{{  JSON.stringify(filtedStaffs, 0, 2) }}</pre>
  </div>
</template>

<script>
// @ is an alias to /src
import StaffSingle from '@/components/StaffSingle.vue'
import ListTransition from '@/components/ListTransition.vue'
import SearchForm from '@/components/SearchForm.vue'
import { mapState, mapActions, mapGetters } from 'vuex'
import store from '@/store'

function getPageEvents(to, next) {
  const currentPage = parseInt(to.query.page) || 1
  store
    .dispatch('event/fetchEventsPagination', { page: currentPage })
    .then(() => {
      to.params.page = currentPage
      next()
    })
}
    
export default {
  name: 'staffList',
  metaInfo: {
    title: 'The list of staff page',
  },
  props:{
    page: {
      type: Number,
      required: false
    }
  },
  data: () => {
    return{
      searchText: '',
      workingStatus: '',
      filteredData: []
    }
  },
  components: {
    StaffSingle,
    ListTransition
  },
  created(){
    // this.fetchEvents() 
  },
  mounted(){},
  filters:{},
  beforeRouteEnter(to, from, next){
    getPageEvents(to, next)
  },
  beforeRouteUpdate(to, from, next){
    getPageEvents(to, next)
  },
  computed: {
    ...mapState('event', {
      staffs: state => state.events,
      staffsTotal: state => state.eventsTotal,
      staffPerPage: state => state.perPage
    }),
    ...mapState(['statuses']),
    ...mapGetters('event', ['getEventByStatus','getEventById']),
    hasNextPage(){
      return this.staffsTotal > this.page * this.staffPerPage
    },
    filtedStaffs () {
      var vm = this
      if (!this.staffs) return ''
      var filteredList = this.staffs.filter(function (item) {
          return item.name.toLowerCase().includes(vm.searchText.toLowerCase())
      })
      if(vm.searchText !== ''){
        filteredList = filteredList.filter(function (item) {
          let searchVal = vm.removeVNAccent(vm.searchText)
          return item.name.toLowerCase().includes(searchVal)
        })
      }
      if(vm.workingStatus !== ''){
        filteredList = filteredList.filter(function(item){
          return item.status == vm.workingStatus
        })
      }
      return filteredList
    },
    filterByStatus (){
      return this.getEventByStatus(this.workingStatus)
    }
  },
  methods:{
    ...mapActions('event', ['fetchEvents', 'getEventsPagination', 'delEvent']),
    deleteById(id){
      this.delEvent(id);
    },
    onSearch(evt){
      console.log(evt)
    },
    removeVNAccent(str){
      str = str.toLowerCase();
      str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
      str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
      str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
      str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
      str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
      str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
      str = str.replace(/đ/g, "d");
      // Some system encode vietnamese combining accent as individual utf-8 characters
      str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // Huyền sắc hỏi ngã nặng 
      str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // Â, Ê, Ă, Ơ, Ư
      return str;
    }

  }   
}
</script>
<style lang="scss">

</style>
