<template>
  <div class="home wrapper">
    <div class="top-bar">
      
      <ul class="filter-wrapper">
        <li :class="{'active': workingStatus == ''}">
          <input type="radio" name="working-status" id="status-all" v-model="workingStatus" value="">
          <label for="status-all">Tất cả</label>
        </li>
        <li v-for="(value, key, index) in statuses" :key="index" :class="{'active': workingStatus == value.val} ">
          <input type="radio" name="working-status" :id="'status-0' + (index + 1)" v-model="workingStatus" :value="value.val">
          <label :for="'status-0' + (index + 1)">{{value.label}}</label>
        </li>
      </ul>

      <SearchForm v-model="searchText" @input="onSearch" :data="staffs"/>
    </div>
    <router-link :to="{name: 'form'}" class="btn btn-default btn-create"><i class="fas fa-plus"></i>Tạo mới</router-link>

    <table class="result-table">
      <thead>
        <th>STT</th>
        <th>Ảnh</th>
        <th>Mã nhân viên</th>
        <th>Tên nhân viên</th>
        <th>Số điện thoại</th>
        <th>Chi nhánh</th>
        <th>Phòng ban</th>
        <th>Nhóm truy cập</th>
        <th>Trạng thái</th>
        <th></th>
      </thead>
         
      <template v-if="staffs.length" >
        <transition-group class="has-animation" :tag="'tbody'" name="company">
          <StaffSingle 
            v-for="(staff, index) in filtedStaffs" 
            :key="staff.id" :index="index" 
            :staff="staff" 
            v-on:delete-staff="deleteById($event)"
            @hook:mounted="childMounted"
          >
            <template v-slot:staff-info="{staff}">
              <td>{{staff.status ? 'Đang làm việc' : 'Nghỉ việc'}}</td>
            </template>
          </StaffSingle>
        </transition-group>
      </template>
      <template v-else>
        <tbody>
          <tr>
            <td colspan="9">No information is available</td>
          </tr>
        </tbody>
      </template>

    </table>

    <p>{{filtedStaffs.length}} / {{staffs.length}} item(s) was founded</p>
   
    <pre>{{  JSON.stringify(filtedStaffs, 0, 2) }}</pre>
  </div>
</template>

<script>
/* TUTORIAL
 * Asyn/await (ES7): https://javascript.info/async-await
 * 
 * Animation: https://snipcart.com/blog/vuejs-transitions-animations 
 * https://codepen.io/udyux/pen/EwwPgr
 * 
 * https://medium.com/@tkwebdev/how-to-create-a-staggered-animation-for-paginated-list-in-vue-js-3f887f201456
 * https://github.com/ThomasFindlay/AnimatedList/blob/master/src/components/AnimatedList.vue
 * 
 * https://medium.com/@msanathkumar/understanding-transitions-and-animations-in-vuejs-115a0f5c6fbc
*/
import StaffSingle from '@/components/StaffSingle.vue'
import ListTransition from '@/components/ListTransition.vue'
import SearchForm from '@/components/SearchForm.vue'
import { mapState, mapActions, mapGetters } from 'vuex'
import store from '@/store'
    
export default {
  name: 'staffList',
  metaInfo: {
    title: 'The list of staff page',
  },
  props:{
    page: {
      type: Number,
      required: false
    }
  },
  data: () => {
    return{
      isLoading: false,
      searchText: '',
      workingStatus: '',
      filteredData: []
    }
  },
  components: {
    StaffSingle,
    ListTransition,
    SearchForm
  },
  async created(){
    this.isLoading = true
    const result = await this.fetchEvents()
    this.filteredData = result
    console.log("created", this.filteredData)
    this.isLoading = false
  },
  mounted(){},
  filters:{},
  computed: {
    ...mapState('event', {
      staffs: state => state.events,
    }),
    ...mapState(['statuses']),
    ...mapGetters('event', ['getEventByStatus','getEventById']),
    filtedStaffs () {
      var vm = this
      if (!this.staffs) return ''
      var filteredList = this.staffs || []
      if(vm.searchText !== ''){
        filteredList = filteredList.filter(function (item) {
          let searchVal = vm.removeVNAccent(vm.searchText.toLowerCase())
          let nameVal = vm.removeVNAccent(item.name.toLowerCase())
          return nameVal.includes(searchVal)
        })
      }
      if(vm.workingStatus !== ''){
        filteredList = filteredList.filter(function(item){
          return item.status == vm.workingStatus
        })
      }
      return filteredList
    },
    filterByStatus (){
      return this.getEventByStatus(this.workingStatus)
    }
  },
  methods:{
    ...mapActions('event', ['fetchEvents', 'getEventsPagination', 'delEvent']),
    deleteById(id){
      this.delEvent(id);
    },
    onSearch(evt){
      console.log(evt)
    },
    removeVNAccent(str){
      str = str.toLowerCase();
      str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
      str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
      str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
      str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
      str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
      str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
      str = str.replace(/đ/g, "d");
      // Some system encode vietnamese combining accent as individual utf-8 characters
      str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // Huyền sắc hỏi ngã nặng 
      str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // Â, Ê, Ă, Ơ, Ư
      return str;
    },
    childMounted() {
      console.log( "child component is mounted")
    }
  }   
}
</script>
<style lang="scss">
  .company {
    backface-visibility: hidden;
    z-index: 1;
  }

  /* moving */
  .company-move {
    transition: all 600ms ease-in-out 50ms;
  }

  /* appearing */
  .company-enter-active {
    transition: all 400ms ease-out;
  }

  /* disappearing */
  .company-leave-active {
    transition: all 200ms ease-in;
    // position: absolute;
    z-index: 0;
  }

  /* appear at / disappear to */
  .company-enter,
  .company-leave-to {
    opacity: 0;
  }
</style>
