<template>
  <select class="select-input" v-bind="$attrs" @input="updateValue">
    <slot></slot>
    <option value="" selected="true">Choose your department</option>
    <option v-for="(item, index) in data" :key="index" :value="item" :selected="item == selected">{{ item }}</option>
  </select>
</template>

<script>
export default {
  name: "BaseSelect",
  inheritAttrs: false,
  props: {
    data: {
      type: Array,
      required: true
    },
    selected: {
      type: String,
      default: ""
    },
    defaultOption: {
      type: String,
      default: ""
    }
  },
  methods:{
    updateValue(event){
      this.$emit('input', event.target.value)
    }
  }
};
</script>

