<template>
  <div class="password">
    <input :type="passType" :placeholder="placeholder" v-bind="$attrs"  @blur="updateValue">
    <i class="fas frm-icon" :class="isShowPass ? 'fa-eye' : 'fa-eye-slash'" @click="toggleVisibilityPass" ></i>  
  </div>
</template>

<script>
export default {
  name: "BasePassword",
  inheritAttrs: false,
  props: {
    placeholder: {
      type: String,
      default: ""
    },
  },
   data() {
    return {
      isShowPass: false,
      passType: 'password',
    }
  },
  computed: {
    
  },
  methods:{
    toggleVisibilityPass(){
      this.isShowPass = !this.isShowPass
      this.passType = this.passType === 'password' ? 'text' : 'password'
    },
    updateValue(event){
      this.$emit('input', event.target.value)
    }
  }
};
</script>

