<template>
  <!-- <form-group :validator="v" :label="label">
    <input type="text" v-model="valInpput" @blur="v.$touch()" v-bind="$attrs">
  </form-group> -->

  <div>
        <label v-if="label" for="">{{label}}</label>
        <input type="text" :value="value" @input="v.$touch()" v-bind="$attrs">
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    label: {
      type: String,
      default: ""
    },
    value: [String, Number],
    v: {
      type: Object,
      required: true
    }
  },
  computed: {
    valInpput: {
      get() {
        return this.value;
      },
      set(value) {
        this.v.$touch();
        this.$emit("input", value);
      }
    }
  }
  // methods:{
  //     updateValue(event){
  //         this.$emit('input', event.target.value)
  //     }
  // }
};
</script>

