<template>
  <v-container grid-list-md>
    <v-breadcrumbs :items="breadcrumbs" divider>
      <template v-slot:divider>
        <v-icon>chevron_right</v-icon>
      </template>
    </v-breadcrumbs>

    <!-- Create a list of links according to routes array -->
    <!-- <ul style="list-style:none; text-align:center">
      <li v-for="ex in examples" :key="ex.path">
        <router-link :to="ex.path">{{ ex.name }}</router-link>
      </li>
    </ul> -->

    <v-layout text-xs-center wrap row>
      <v-flex xs12 mb-4>
        <h1 class="display-2 font-weight-bold mb-3">Welcome to Vuetify</h1>
        <p class="subheading font-weight-regular">
          For help and collaboration with other Vuetify developers,
          <br>please join our online
          <a
            href="https://community.vuetifyjs.com"
            target="_blank"
          >Discord Community</a>
        </p>
        <v-btn
          round
          outline
          :loading="loading3"
          :disabled="false"
          color="orange"
          class="white--text"
          @click="loader = 'loading3'"
        >
          Upload
          <v-icon right dark>cloud_upload</v-icon>
        </v-btn>
        <v-btn ref="btn-scroll" color="primary" @click="onScroll('#tab01')">Scroll to #tab01</v-btn>
      </v-flex>

      <v-flex xs3>
        <v-list two-line subheader class="mr-4">
          <v-subheader inset>Folders</v-subheader>
          <v-list-tile v-for="item in items" :key="item.title" avatar @click>
            <v-list-tile-avatar>
              <v-icon :class="[item.iconClass]">{{ item.icon }}</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon>
                <v-icon color="grey lighten-1">info</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
          <v-divider inset></v-divider>
          <v-subheader inset>Files</v-subheader>
          <v-list-tile v-for="item in items2" :key="item.title" avatar @click>
            <v-list-tile-avatar>
              <v-icon :class="[item.iconClass]">{{ item.icon }}</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              <v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
            </v-list-tile-content>
            <v-list-tile-action>
              <v-btn icon ripple>
                <v-icon color="grey lighten-1">info</v-icon>
              </v-btn>
            </v-list-tile-action>
          </v-list-tile>
        </v-list>
      </v-flex>

      <v-flex xs9 mb-4>
        <v-combobox v-model="chips" :items="itemsChips" label="Your favorite hobbies" chips clearable prepend-icon="filter_list" solo multiple>
          <template v-slot:selection="dataChips">
            <v-chip :selected="dataChips.selected" close @input="remove(dataChips.item)">
              <strong>{{ dataChips.item }}</strong>
            </v-chip>
          </template>
        </v-combobox>

        <v-stepper v-model="stepper" class="mb-4">
          <v-stepper-header>
            <v-stepper-step step="1" :complete="stepper > 1">Select campaign settings<small>Additional message</small></v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="2" :complete="stepper > 2">Create an ad group<small>Alert message</small></v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3" :complete="stepper > 3">Create an ad</v-stepper-step>
          </v-stepper-header>
          
          <v-stepper-content step="1">
            <v-expansion-panel v-model="currPanel" lazy>
              <v-expansion-panel-content
                v-for="(item,i) in 3"
                :key="i"
                expand-icon="add"
              >
                <!-- <template v-slot:actions>
                  <v-icon color="teal">done</v-icon>
                </template> -->
                <template v-slot:header>
                  <div>Lorem ipsum dolor sit amet {{item}}</div>
                </template>
                <v-card>
                  <v-card-text>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-btn color="primary" @click="stepper = 2">Continue</v-btn>
            <v-btn flat>Cancel</v-btn>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-card color="grey lighten-1" class="mb-5" height="200px">Step 2</v-card>
            <v-btn color="primary" @click="stepper = 3">Continue</v-btn>
            <v-btn flat>Cancel</v-btn>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-card color="grey lighten-1" class="mb-5" height="200px">Finish</v-card>
          </v-stepper-content>
        </v-stepper>

        <v-tabs v-model="tabs" align-with-title color="transparent" id="tab01">
          <v-tab href="#one">Item One</v-tab>
          <v-tab href="#two">Item Two</v-tab>
          <v-tab href="#three">Item Three</v-tab>
          <v-tabs-slider color="pink"></v-tabs-slider>

          <v-tab-item value="one">
            <v-data-iterator :items="itemsDemo" :rows-per-page-items="rowsPerPageItems" :search="search" :pagination.sync="pagination" content-tag="v-layout" row wrap >
              <template v-slot:item="props">
                <v-flex xs12 sm6 md4 lg4 >
                  <v-hover>
                    <v-card flat slot-scope="{ hover }" >
                      <v-img src="https://cdn.vuetifyjs.com/images/cards/desert.jpg" aspect-ratio="1.5" >
                        <v-expand-transition>
                          <div v-if="hover" class="d-flex transition-fast-in-fast-out orange darken-2 v-card--reveal display-3 white--text" style="height: 100%;"
                          > $14.99 </div>
                        </v-expand-transition>
                      </v-img>
                      <v-card-title>
                        <div>
                          <h4 class="title text-left">{{ props.item.name }}</h4>
                          <div class="d-flex">
                            <v-rating :value="valueRating" color="amber" dense half-increments readonly size="14" ></v-rating>
                            <div class="ml-2 grey--text text--darken-2">
                              <span>{{ valueRating }}</span>
                              <span>({{ reviews }})</span>
                            </div>
                          </div>
                        </div>
                        <v-spacer></v-spacer>
                        <v-btn icon class="mr-0">
                          <v-icon>chevron_right</v-icon>
                        </v-btn>
                      </v-card-title>
                    </v-card>
                  </v-hover>
                </v-flex>
              </template>
            </v-data-iterator>
              
          </v-tab-item>
          <v-tab-item value="two">
            <v-text-field
              v-model="search"
              append-icon="search"
              label="Search"
              single-line
              hide-details
              class="mb-4"
              style="margin-left:auto; width:50%"
            >
            </v-text-field>
            <v-data-table :headers="headers" :items="desserts" :search="search" :pagination.sync="paginationTable" :loading="true" item-key="name" select-all="true" class="elevation-1">
              <v-progress-linear v-slot:progress color="blue" indeterminate></v-progress-linear>
              <template v-slot:items="props">
                <td>
                  <v-checkbox
                    v-model="props.selected"
                    primary
                    hide-details
                  ></v-checkbox>
                </td>
                <td>{{ props.item.name }}</td>
                <td class="text-xs-right">{{ props.item.calories }}</td>
                <td class="text-xs-right">{{ props.item.fat }}</td>
                <td class="text-xs-right">{{ props.item.carbs }}</td>
                <td class="text-xs-right">{{ props.item.protein }}</td>
                <td class="text-xs-right">{{ props.item.iron }}</td>
              </template>
              <template v-slot:no-data>
                <v-alert :value="true" color="error" icon="warning">
                  Sorry, nothing to display here.
                </v-alert>
              </template>
              <template v-slot:no-results>
                <v-alert :value="true" color="error" icon="warning">
                  Your search for "{{ search }}" found no results.
                </v-alert>
              </template>
              <template v-slot:pageText="props">
                Hien thi san pham {{ props.pageStart }} - {{ props.pageStop }} / {{ props.itemsLength }}
              </template>

            </v-data-table>
          </v-tab-item>
          <v-tab-item value="three">
            Three
          </v-tab-item>
        </v-tabs>

        <form action="" id="frm-01" >
          <h4>FORM</h4>
          <v-form v-model="valid">
            <v-layout row wrap>
              <v-flex xs12 lg6>
                <v-menu 
                  ref="menu1" 
                  v-model="menu1" 
                  :close-on-content-click="false" 
                  :nudge-right="40" 
                  lazy 
                  transition="scale-transition" 
                  offset-y 
                  full-width 
                  max-width="290px" 
                  min-width="290px"
                >
                  <template v-slot:activator="{ on }">
                    <v-text-field 
                      v-model="dateFormatted" 
                      label="Date" 
                      hint="MM/DD/YYYY format" 
                      persistent-hint 
                      prepend-icon="event" 
                      @blur="date = parseDate(dateFormatted)" 
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker v-model="date" no-title @input="menu1 = false"></v-date-picker>
                </v-menu>
                <p class="text-left">Date in ISO format: <strong>{{ date }}</strong></p>
              </v-flex>

              <v-flex xs12 lg6>
                <v-autocomplete v-model="autocomplete"
                  :hint="!isEditing ? 'Click the icon to edit' : 'Click the icon to save'"
                  :items="states"
                  :readonly="!isEditing"
                  :label="`State - ${isEditing ? 'Editable' : 'Readonly'}`"
                  persistent-hint
                  prepend-icon="description"
                >
                  <template v-slot:append-outer>
                    <v-slide-x-reverse-transition mode="out-in">
                      <v-icon
                        :key="`icon-${isEditing}`"
                        :color="isEditing ? 'success' : 'info'"
                        @click="isEditing = !isEditing"
                        v-text="isEditing ? 'build' : 'done'"
                      >
                      </v-icon>
                    </v-slide-x-reverse-transition>
                  </template>
                </v-autocomplete>
              </v-flex>

              <v-flex xs12 lg6>
                <v-text-field
                  v-model="firstname"
                  :rules="nameRules"
                  :counter="10"
                  label="First name"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12 lg6>
                <v-text-field
                  v-model="email"
                  :error-messages="emailErrors"
                  label="E-mail"
                  required
                  @blur="$v.email.$touch()"
                ></v-text-field>
              </v-flex>
              <v-flex xs12 lg6>
                <v-slider v-model="slider"  prepend-icon="volume_up" step="10" max="100" thumb-color="orange" color="orange" thumb-label ticks></v-slider>
              </v-flex>
              <v-flex xs12 lg6>
                <v-switch v-model="switch1" :label="`Switch 1: ${switch1.toString()}`"></v-switch>
              </v-flex>
              <v-btn @click="submit">Submit</v-btn>
            </v-layout>
          </v-form>
        </form>

        <v-pagination v-model="page" :length="15" :total-visible="7" @input="onInputPagination"></v-pagination>
        
          
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, maxLength, email } from 'vuelidate/lib/validators'
import { routes } from '@/router';

export default {
  mixins: [validationMixin],
  validations: {
    email: { required, email}
  },
  data: (vm) => ({
    examples:  routes.filter(r => r.path !== '/').map(r => {
      return {
        path: r.path ,
        name: r.meta && r.meta.title 
      };
    }),
    slider: 0,
    valid: false,
    switch1: true,
    email: '',
    firstname: '',
    nameRules: [
      v => !!v || 'Name is required',
      v => v.length <= 10 || 'Name must be less than 10 characters'
    ],
    isEditing: true,
    autocomplete: null,
    states: [
      'Alabama', 'Alaska', 'American Samoa', 'Arizona',
      'Arkansas', 'California', 'Colorado', 'Connecticut',
      'Delaware', 'District of Columbia', 'Federated States of Micronesia',
      'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho',
      'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky',
      'Louisiana', 'Maine', 'Marshall Islands', 'Maryland',
      'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
      'Missouri', 'Montana', 'Nebraska', 'Nevada',
      'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
      'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio',
      'Oklahoma', 'Oregon', 'Palau', 'Pennsylvania', 'Puerto Rico',
      'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
      'Texas', 'Utah', 'Vermont', 'Virgin Island', 'Virginia',
      'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'
    ],
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    menu1: false,
    page: 1,
    currPanel: 0,
    stepper: 1,
    paginationTable: {
      sortBy: 'name'
    },
    search: '',
    selected: [],
    headers: [
      {
        text: 'Dessert (100g serving)',
        align: 'left',
        value: 'name'
      },
      { text: 'Calories', value: 'calories' },
      { text: 'Fat (g)', value: 'fat' },
      { text: 'Carbs (g)', value: 'carbs' },
      { text: 'Protein (g)', value: 'protein' },
      { text: 'Iron (%)', value: 'iron' }
    ],
    desserts: [{name: 'Frozen Yogurt',calories: 159,fat: 6.0,carbs: 24,protein: 4.0,iron: '1%'},{name: 'Ice cream sandwich',calories: 237,fat: 9.0,carbs: 37,protein: 4.3,iron: '1%'},{name: 'Eclair',calories: 262,fat: 16.0,carbs: 23,protein: 6.0,iron: '7%'},{name: 'Cupcake',calories: 305,fat: 3.7,carbs: 67,protein: 4.3,iron: '8%'},{name: 'Gingerbread',calories: 356,fat: 16.0,carbs: 49,protein: 3.9,iron: '16%'},{name: 'Jelly bean',calories: 375,fat: 0.0,carbs: 94,protein: 0.0,iron: '0%'},{name: 'Lollipop',calories: 392,fat: 0.2,carbs: 98,protein: 0,iron: '2%'},{name: 'Honeycomb',calories: 408,fat: 3.2,carbs: 87,protein: 6.5,iron: '45%'},{name: 'Donut',calories: 452,fat: 25.0,carbs: 51,protein: 4.9,iron: '22%'},{name: 'KitKat',calories: 518,fat: 26.0,carbs: 65,protein: 7,iron: '6%'}],

    chips: ['Watching movies', 'Sleeping'],
    itemsChips: ['Streaming', 'Eating','Programming', 'Playing video games', 'Watching movies', 'Sleeping'],
    reviews: 413,
    valueRating: 4.5,
    tabs: null,
    loader: null,
    loading3: false,
    rowsPerPageItems: [4, 8, 12],
    pagination: {
      rowsPerPage: 4
    },
    breadcrumbs: [{text: "Dashboard",disabled: false,href: "breadcrumbs_dashboard"},{text: "Link 1",disabled: false,href: "breadcrumbs_link_1"},{text: "Link 2",disabled: true,href: "breadcrumbs_link_2"}],
    itemsDemo: [{name: 'Frozen Yogurt',calories: 159,fat: 6.0,carbs: 24,protein: 4.0,sodium: 87,calcium: '14%',iron: '1%'},{name: 'Ice cream sandwich',calories: 237,fat: 9.0,carbs: 37,protein: 4.3,sodium: 129,calcium: '8%',iron: '1%'},{name: 'Eclair',calories: 262,fat: 16.0,carbs: 23,protein: 6.0,sodium: 337,calcium: '6%',iron: '7%'},{name: 'Cupcake',calories: 305,fat: 3.7,carbs: 67,protein: 4.3,sodium: 413,calcium: '3%',iron: '8%'},{name: 'Gingerbread',calories: 356,fat: 16.0,carbs: 49,protein: 3.9,sodium: 327,calcium: '7%',iron: '16%'},{name: 'Jelly bean',calories: 375,fat: 0.0,carbs: 94,protein: 0.0,sodium: 50,calcium: '0%',iron: '0%'},{name: 'Lollipop',calories: 392,fat: 0.2,carbs: 98,protein: 0,sodium: 38,calcium: '0%',iron: '2%'},{name: 'Honeycomb',calories: 408,fat: 3.2,carbs: 87,protein: 6.5,sodium: 562,calcium: '0%',iron: '45%'},{name: 'Donut',calories: 452,fat: 25.0,carbs: 51,protein: 4.9,sodium: 326,calcium: '2%',iron: '22%'},{name: 'KitKat',calories: 518,fat: 26.0,carbs: 65,protein: 7,sodium: 54,calcium: '12%',iron: '6%'}],
    items: [{icon: "folder",iconClass: "grey lighten-1 white--text",title: "Photos",subtitle: "Jan 9, 2014"},{icon: "folder",iconClass: "grey lighten-1 white--text",title: "Recipes",subtitle: "Jan 17, 2014"},{icon: "folder",iconClass: "grey lighten-1 white--text",title: "Work",subtitle: "Jan 28, 2014"}],
    items2: [{icon: "assignment",iconClass: "blue white--text",title: "Vacation itinerary",subtitle: "Jan 20, 2014"},{icon: "call_to_action",iconClass: "amber white--text",title: "Kitchen remodel",subtitle: "Jan 10, 2014"}],
  }),
  computed: {
    computedDateFormatted(){
      return this.formatDate(this.date)
    },
    emailErrors() {
      const errors = []
      if(!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Must be valid e-mail')
      !this.$v.email.required && errors.push('E-mail is required')
      return errors
    }
  },
  created(){},
  methods: {
    remove (item) {
      this.chips.splice(this.chips.indexOf(item), 1)
      this.chips = [...this.chips]
    },
    toggleAll () {
      if (this.selected.length) this.selected = []
      else this.selected = this.desserts.slice()
    },
    changeSort (column) {
      if (this.paginationTable.sortBy === column) {
        this.paginationTable.descending = !this.paginationTable.descending
      } else {
        this.paginationTable.sortBy = column
        this.paginationTable.descending = false
      }
    },
    onScroll(target){
      this.$vuetify.goTo(target, {
        duration: 300,
        offset: 20,
        easing: 'easeInOutCubic'
      })
    },
    onInputPagination(e){
      console.log(e)
    },
    clickPanel(e){
      console.log(e)
    },
    formatDate(date) {
      if( !date ) return null
      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate(date) {
      if(!date) return null
      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
    submit() {
      this.$v.$touch()
    },
    clear() {
      this.$v.$reset()
      this.email = ''
    }
  },
  watch: {
    date(val){
      this.dateFormatted = this.formatDate(this.date)
    },
    loader() {
      const l = this.loader;
      this[l] = !this[l];
      setTimeout(() => (this[l] = false), 3000);
      this.loader = null;
    }
  }
};
</script>

<style lang="scss">
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: .5;
  position: absolute;
  width: 100%;
}
</style>
