<template>
  <div class="notification-bar  alert alert-info alert-dismissible" :class="notificationTypeClass">
    <p>{{ notification.message }}</p>
    <button type="button" aria-label="Close" class="close" @click="removeAlert()">×</button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: {
    notification: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      timeout: null,
      dismissSecs: 2,
    }
  },
  mounted() {
    this.timeout = setTimeout(() => this.removeAlert(), this.dismissSecs * 1000)
  },
  beforeDestroy() {
    clearTimeout(this.timeout)
  },
  computed: {
    notificationTypeClass() {
      return `-text-${this.notification.type}`
    }
  },
  methods: { 
    ...mapActions('notification', ['remove']),
    removeAlert(){
      this.remove(this.notification)
    }
  }
}
</script>

<style lang="scss" scoped>
.notification-bar {
  margin: 1em 0 1em;
  p{margin-bottom: 0;}
}
</style>