<template>
    <div class="notification-container" v-if="notifications.length">
        <NotificationItem v-for="notification in notifications" :key="notification.id" :notification="notification">
        </NotificationItem>
    </div>
</template>

<script>
import NotificationItem from '@/components/NotificationItem.vue'
import {mapState, mapActions} from 'vuex';
    export default {
        components:{
            NotificationItem
        },
        computed:{ 
            ...mapState('notification', ['notifications'])
        },
        created(){
            console.log("notification worked")
        }
 
    }
</script>

<style scoped>

</style>