<template>
  <form @submit.prevent="submit" class="search-frm">
    <input type="text"
      v-model.trim="$v.searchText.$model"
      placeholder="Bộ lọc và Tìm kiếm"
      class="search-txt"
      @input="onChange"
      @keydown.down="onArrowDown"
      @keydown.up="onArrowUp"
      @keydown.enter="onEnter"
      :class="{'hasError':$v.searchText.$error}"
    />
    <div v-if="$v.searchText.$error" class="error-mesg">
      <p v-if="!$v.searchText.required" class="errorMessage">Search text is required</p>
    </div>
    <slot name="auto-complete">
      <ul v-show="autoComplete.isOpen" class="autocomplete-wrapper autocomplete-result">
        <li v-if="autoComplete.isLoading" class="loading">Loading...</li>
        <li v-for="(staff, index) in autoComplete.results" :key="staff.id" :class="{'is-active': index === autoComplete.arrowCounter}" @click="setResult(index)">{{ staff.name }}</li>
      </ul>
    </slot>
    <button type="submit" class="btn btn-search" value="Submit" :disabled="$v.$invalid">
      <i class="fas fa-search"></i>
    </button>
  </form>
</template>

<script>
import { required } from "vuelidate/lib/validators";

/**
 * file upload: https://scotch.io/tutorials/how-to-handle-file-uploads-in-vue-2
 * auto complete: https://alligator.io/vuejs/vue-autocomplete-component/
 * remove Vietnamese Accent: https://gist.github.com/jarvisluong/f01e108e963092336f04c4b7dd6f7e45 
 */ 
export default {
  name: "search-form",
  props: {
    data: {
      type: Array,
      required: false,
      default: () => [],
    }
  },
  data() {
    return {
      searchText: '',
      autoComplete: {
        isLoading: false,
        isOpen: false,
        arrowCounter: -1,
        results: []
      },
    };
  },
  validations: {
    searchText: {
      required
    }
  },
  methods: {
    setResult(index){
      if (this.autoComplete.results.length > 0 && index > -1){
        this.searchText = this.autoComplete.results[index].name
      }
      this.autoComplete.isOpen = false;
    },
    onChange(){
      this.$v.searchText.$touch()
      this.autoComplete.isOpen = true;
      this.filterResults();
    },
    filterResults() {
      let valSearch = this.removeVNAccent(this.searchText.toLowerCase())
      this.autoComplete.results = this.data.filter(item => {
        let nameConverted = this.removeVNAccent(item.name.toLowerCase())
        return nameConverted.indexOf(valSearch) > -1
      })
    },
    onArrowDown() {
      if (this.autoComplete.arrowCounter < this.autoComplete.results.length) {
        this.autoComplete.arrowCounter = this.autoComplete.arrowCounter + 1;
      }
    },
    onArrowUp() {
      if (this.autoComplete.arrowCounter > 0) {
        this.autoComplete.arrowCounter = this.autoComplete.arrowCounter - 1;
      }
    },
    handleClickOutside(evt) {
      if (!this.$el.contains(evt.target)) {
        this.autoComplete.isOpen = false;
        this.autoComplete.arrowCounter = -1;
      }
    },
    onEnter() {
      this.setResult(this.autoComplete.arrowCounter);
      this.autoComplete.isOpen = false;
      this.autoComplete.arrowCounter = -1;
    },
    submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        this.$emit("input", this.searchText, this.$v);
      }
    },
    removeVNAccent(str){
      str = str.toLowerCase();
      str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
      str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
      str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
      str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
      str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
      str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
      str = str.replace(/đ/g, "d");
      // Some system encode vietnamese combining accent as individual utf-8 characters
      str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // Huyền sắc hỏi ngã nặng 
      str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // Â, Ê, Ă, Ơ, Ư
      return str;
    }
  },
  mounted() {
    document.addEventListener('click', this.handleClickOutside);
  },
  destroyed() {
    document.removeEventListener('click', this.handleClickOutside);
  },
  // watch: {
  //   items: function (val, oldValue) {
  //     // actually compare them
  //     if (val.length !== oldValue.length) {
  //       this.results = val;
  //       this.isLoading = false;
  //     }
  //   },
  // },
};
</script>

<style scoped>
.field {
  margin-bottom: 24px;
}
</style>