<template>
  <tr class="staff-row">
    <td>{{ index + 1 }}</td>
    <td class="staff-avatar">
      <img class="fluid-img" :src="`/images/` + img" alt>
    </td>
    <td>{{id}}</td>
    <td>
      <router-link :to="{name: 'staff-detail', params: {id: id}}">{{name}}</router-link>
    </td>
    <td>{{phone | appendPhone('+84')}}</td>
    <td>{{branch}}</td>
    <td>{{department}}</td>
    <td>{{position}}</td>
    <slot name="staff-info" v-bind:staff="staff"></slot>
    <td>
      <router-link :to="{name: 'staff-detail', params: {id: id}}" class="btn btn-outline"><i class="fas fa-edit"></i>Sửa</router-link>
      <button id="delete-staff-btn" class="btn btn-delete" @click="$emit('delete-staff', id)"><i class="fas fa-trash-alt"></i>Xóa</button>
    </td>
    
  </tr>
</template>
<script>
export default {
  props: {
    staff: {
      type: Object,
      required: true,
      default: () =>{
        return {}
      }
    },
    index: Number
  },
  data: function(){
    let {img, id, name, phone, branch, department, position, status} = this.staff;
    return { 
      img: img.length ? img : 'default-img.svg',
      id, 
      name, 
      phone, 
      branch, 
      department, 
      position,
      status
    } 
  },
  filters:{
    appendPhone(string, suffix){
      return (!string.indexOf(suffix)) ? string : `${suffix}${string}`;
    }
  },
  computed: {
    
  },
  methods:{

  }
};
</script>

