<template>
  <b-container id="app" class="bv-example-row" fluid v-cloak>
    <div id="nav" class="center-txt nav-bar" v-sticky-menu:top="handleScroll"> 
      <router-link to="/" exact>Home</router-link> |
      <!-- <router-link :to="{ name: 'home', hash: '#json-data'}">Anchor</router-link> | -->
      <router-link :to="{ path: '/staffs', query: { page: 1 }}">Staffs Pagination</router-link> |
      <router-link to="/staffs/0001">Staffs Details</router-link> |
      <router-link to="/staff/create">Create new staff form</router-link> | 
      <router-link to="/login">Login</router-link>
    </div>

    <notification-bar/>
    <transition appear name="slide">
      <router-view class="view-wrapper" :key="$route.fullPath"/>
    </transition>

    <footer class="footer-wrapper center-txt"> @copyright 2019 </footer>
  </b-container>
  
 
</template>
<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import 'nprogress/nprogress.css'
import 'pikaday/css/pikaday.css';
import "./assets/styles/app.scss"
import NotificationBar from '@/components/NotificationBar.vue'
import {stickyDirective} from '@/directives/sticky.directive'
import {TweenMax} from "gsap/TweenMax";

export default {
  components: {
    NotificationBar
  },
  metaInfo: {
    meta: [
      {
        'property': 'og:title',
        'content': 'Home page',
        'template': chunk => `${chunk} - My page`, //or as string template: '%s - My page',
        'vmid': 'og:title'
      }
    ],
    title: 'Default Title',
    titleTemplate: '%s | Training app'
  },
  directives: {
    'sticky-menu': stickyDirective
  },
  methods:{
    handleScroll: (evt, el) => {
      if (window.scrollY > 50) {
        TweenMax.to(el, 1.5, {
          y: -10,
          opacity: 1
        })
      }
      return window.scrollY > 100;
    }
  }
}
</script>

<style lang="scss">
.slide-enter-active,
.slide-leave-active{
  transition: transform 2s ease;
  // animation-delay: .2s;
}
.slide-leave-active{
  position: absolute;
}
.slide-enter,
.slide-leave-to{
  opacity: 0;
  transform: translateY(50px);
}
</style>
