<template>
  <v-app>
    <v-toolbar app class="center-txt nav-bar" v-sticky-menu:top="handleScroll">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title class="headline text-uppercase">
        <!-- <span class="logo"></span> -->
        <v-img :src="require('./assets/logo.svg')" class="mr-1" contain height="28" width="30" style="display:inline-block; vertical-align:middle"></v-img>
        <span>YOUR LOGO</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <nav class="nav-bar">
        <router-link to="/" exact>Home</router-link> |
        <router-link to="/staffs/all">All Staffs</router-link> |
        <!-- <router-link :to="{ name: 'home', hash: '#json-data'}">Anchor</router-link> | -->
        <router-link :to="{ path: '/staffs', query: { page: 1 }}">Staffs Pagination</router-link> |
        <router-link to="/staffs/0001">Staffs Details</router-link> |
        <router-link to="/staff/create">Create new staff form</router-link> | 
        <router-link to="/login">Login</router-link>
      </nav>

      <v-btn icon>
        <v-icon>search</v-icon>
      </v-btn>

      <v-btn icon @click="dialog = !dialog">
        <v-icon>view_module</v-icon>
      </v-btn>
    </v-toolbar>
  
    <v-content style="overflow-y:hidden;">
      <notification-bar/>
      <transition appear name="slide">
        <router-view class="view-wrapper" :key="$route.fullPath" v-cloak/>
      </transition>
    </v-content>

    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-text>
          <v-text-field label="File name"></v-text-field>
          <small class="grey--text">* This doesn't actually save.</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat color="primary" @click="dialog = false">Submit</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    
    <v-speed-dial v-model="fab" fixed bottom right direction="top" :open-on-hover="false" transition="slide-y-reverse-transition" >
      <template v-slot:activator>
        <v-btn v-model="fab" color="blue darken-2" dark fab>
          <v-icon>account_circle</v-icon>
          <v-icon>close</v-icon>
        </v-btn>
      </template>
      <v-btn fab dark small color="indigo">
        <v-icon>edit</v-icon>
      </v-btn>
      <v-btn fab dark small color="indigo">
        <v-icon>add</v-icon>
      </v-btn>
      <v-btn fab dark small color="red">
        <v-icon>delete</v-icon>
      </v-btn>
    </v-speed-dial>

    <v-navigation-drawer
      v-model="drawer"
      absolute
      temporary
      style="padding-top: 100px;"
    >
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-list-tile-avatar>

          <v-list-tile-content>
            <v-list-tile-title>John Leider</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0" dense>
        <v-divider></v-divider>

        <v-list-tile
          v-for="item in itemsDrawer"
          :key="item.title"
          @click=""
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import 'nprogress/nprogress.css'
import 'pikaday/css/pikaday.css';
import "./assets/styles/app.scss"
import NotificationBar from '@/components/NotificationBar.vue'
import {stickyDirective} from '@/directives/sticky.directive'
import {TweenMax} from "gsap/TweenMax";

export default {
  name: 'App',
  components: {
    NotificationBar
  },
  metaInfo: {
    meta: [
      {
        'property': 'og:title',
        'content': 'Home page',
        'template': chunk => `${chunk} - My page`, //or as string template: '%s - My page',
        'vmid': 'og:title'
      }
    ],
    title: 'Default Title',
    titleTemplate: '%s | Training app'
  },
  data (){
    return {
      fab: false,
      dialog: false,
      isFloatingBtnHidden: false,
      drawer: null,
      itemsDrawer: [
        { title: 'Home', icon: 'dashboard' },
        { title: 'About', icon: 'question_answer' }
      ]
    }
  },
  directives: {
    'sticky-menu': stickyDirective
  },
  computed: {

  },
  methods:{
    handleScroll: (evt, el) => {
      if (window.scrollY > 50) {
       console.log("scroll")
      }
      return window.scrollY > 100;
    }
  }
}
</script>
<style lang="scss">
.slide-enter-active,
.slide-leave-active{
  transition: transform 2s ease;
  // animation-delay: .2s;
}
.slide-leave-active{
  position: absolute;
}
.slide-enter,
.slide-leave-to{
  opacity: 0;
  transform: translateY(50px);
}
</style>